.container {
  background: white;
  border-radius: 0 2.5em 2.5em 0;
  border: 0.5em solid white;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}
.container img {
  --size: 110%;
  border-radius: inherit;
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  position: absolute;
}
.containerDown {
  width: min-content;
  display: flex;
  z-index: 1;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 75vw;
  }
  .containerDown {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 13px;
    width: 100%;
  }
  .containerDown {
    width: 100%;
  }
  /* .container > * {
    z-index: 1;
  } */
}
