.container{
    color: black;
}

.top
{
    display: flex;
    padding: 1em;
    gap: 1em;
}

.btnCard{
    z-index: 1;
}

.btnCard::before{
    --size:2.6em;
    content: '';
    background: transparent;
    height: var(--size);
    width: calc(var(--size) * 2);
    border-radius:0 2em 2.1em 0;
    position: absolute;
    left: calc(-2.19  * (var(--size)));
    bottom:0;
    box-shadow: 10px 16px 0  white;
}
.btnCard::after{
    --size:3em;
    content: '';
    background: transparent;
    height: var(--size);
    width: calc(var(--size) * 1.2);
    border-radius:0 0 1.2em 2em;
    position: absolute;
    top:calc(-1.164 * var(--size));
    right:0;
    box-shadow: 22px 11px 0  white;
}