.container{
    --size:100px;
    width: var(--size);
    height: var(--size);
    color: black;
}
.containerTags{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding: 1rem;
    padding-bottom: 1.37rem;
    list-style: none;
    bottom: 0;
    width: 16rem;
    gap: .7rem;
}
.tag{
    padding: .5rem .8rem;
    border-radius: 1rem;
    background: white;
    width: max-content;
}