.container{
    --size:max-content;
    width: var(--size);
    height: var(--size);
    color: black;
}
.containerTags{
    position: relative;
    display: flex;
    padding: 1rem;
    list-style: none;
    gap: .7rem;
}
.tag{
    padding: .5rem .8rem;
    border-radius: 1rem;
    background: white;
    width: max-content;
}

@media screen and (min-width:1024px) {
    .container{
        --size:100px;
    }
    .containerTags{
        position: absolute;
        flex-wrap: wrap;
        bottom: 0;
        width: 16rem;
        padding-bottom: 1.37rem;
    }
  }
  @media screen and (max-width:768px) {
  }